In [4]:
# Importing necessary models
import warnings
warnings.filterwarnings('ignore')

import quandl

import smtplib
import pandas as pd
import numpy as np
import datetime as dt
import pandas.stats.moments as st
import time
%matplotlib inline
from bs4 import BeautifulSoup as bs
import requests
import chart_studio.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from sqlalchemy import *
from sqlalchemy import create_engine
import calendar
import sqlite3 as sql
pd.options.display.float_format = '{:,.4f}'.format

init_notebook_mode(connected=True)

import os
main_dir = os.getcwd()

dbs_dir = 'C:\\Users\\Fang\\Desktop\\Python Trading\\Trading\\Data\\DBs'

os.chdir('C:\\Users\\Fang\\Desktop\\Python Trading\\Trading\\Trading\\Modules\\DataCollection')

from alphavantage import *
from yahoo_query import *

In [9]:
sp1 = quandl.get("CHRIS/CME_SP1", authtoken="-ZxrLoLy3vKgLtLraaMn")
spy = yahoo_query('SPY', dt.datetime(1982,4,21))
spy.hist_prices_query()

In [11]:
sp1[['Last']]

                 Last
Date
1982-04-21   117.4500
1982-04-22   117.9000
1982-04-23   119.6500
1982-04-26   120.5500
1982-04-27   118.8500
1982-04-28   118.1500
1982-04-29   117.6000
1982-04-30   117.5000
1982-05-03   117.1500
1982-05-04   117.8000
1982-05-05   117.5500
1982-05-06   119.1000
1982-05-07   119.6500
1982-05-10   118.5000
1982-05-11   119.7000
1982-05-12   119.5500
1982-05-13   118.3500
1982-05-14   118.3000
1982-05-17   116.6000
1982-05-18   116.0000
1982-05-19   114.6500
1982-05-20   114.9500
1982-05-21   114.9000
1982-05-24   115.0000
1982-05-25   113.7500
1982-05-26   112.5000
1982-05-27   111.8500
1982-05-28   111.0000
1982-06-01   110.0500
1982-06-02   111.5500
...               ...
2019-06-24 2,952.5000
2019-06-25 2,922.5000
2019-06-26 2,918.5000
2019-06-27 2,930.5000
2019-06-28 2,955.0000
2019-07-01 2,967.5000
2019-07-02 2,979.5000
2019-07-03 3,000.0000
2019-07-05 2,990.5000
2019-07-08 2,979.0000
2019-07-09 2,982.0000
2019-07-10 2,997.5000
2019-07-11 3,003.5000
2019-07-12 3,015.5000
2019-07-15 3,017.5000
2019-07-16 3,007.0000
2019-07-17 2,985.0000
2019-07-18 2,997.5000
2019-07-19 2,977.0000
2019-07-22 2,988.5000
2019-07-23 3,008.3000
2019-07-24 3,021.5000
2019-07-25 3,006.5000
2019-07-26 3,024.0000
2019-07-29 3,021.5000
2019-07-30 3,012.5000
2019-07-31 2,979.0000
2019-08-01 2,951.0000
2019-08-02 2,932.5000
2019-08-05 2,834.0000

[9388 rows x 1 columns]